<div class="col-9 mx-auto">
  <form action="/search" method="GET" class="form-inline justify-content-end">
    <div class="form-group mr-3">
      <label for="category">類別：</label>
      <select class="custom-select" name="category" id="category" onchange="this.form.submit();">
        <option value="">全部</option>
        <option value="家居物業" {{#if (isEqual category "家居物業")}}selected{{/if}}>家居物業</option>
        <option value="交通出行" {{#if (isEqual category "交通出行")}}selected{{/if}}>交通出行</option>
        <option value="休閒娛樂" {{#if (isEqual category "休閒娛樂")}}selected{{/if}}>休閒娛樂</option>
        <option value="餐飲食品" {{#if (isEqual category "餐飲食品")}}selected{{/if}}>餐飲食品</option>
        <option value="其他" {{#if (isEqual category "其他" )}}selected{{/if}}>其他</option>
      </select>
    </div>
  </form>
</div>

<div class="col-8 mx-auto">
  <div class="text-left mb-4">
    <h1>總金額：{{totalAmount}}</h1>
  </div>
</div>

<div class="col-10 mx-auto">
  {{#each records}}
  <div class="d-flex align-items-center border-bottom border-dark mb-3">
    <div class="col-2 text-right">
      <span style="font-size: 2em;">
        <i class="{{this.categoryId.icon}}"></i>
      </span>
    </div>
    <div class="col-5">
      <h3>{{this.name}}</h3>
      <span style="font-size: 1em;">{{this.date}}</span>
    </div>
    <div class="col-2 text-right">
      <span style="font-size: 2em;">
        {{this.amount}}
      </span>
    </div>
    <div class="col-3 text-right">
      <a href="/records/{{this._id}}/edit" class="btn btn-outline-dark">修改</a>
      <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-outline-dark">刪除</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>
<div class="text-center">
  <a href="/records/new" class="btn btn-dark btn-lg">新增支出</a>
</div>