<a href="/records/new">新增支出</a>
<ul>
  {{#each records}}
  <li>
    {{this.name}}//{{this.date}}//{{this.amount}}//{{this.category}}//{{this.user}}
    <a href="/records/{{this._id}}/edit">修改</a>
  </li>
  {{/each}}
</ul>