<a href="/records/new">新增支出</a>
<ul>
  {{#each records}}
  <li>
    {{this.name}}//{{this.date}}//{{this.amount}}//{{this.category}}//{{this.user}}
    <a href="/records/{{this._id}}/edit">修改</a>
    <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">刪除</button>
    </form>
  </li>
  {{/each}}
</ul>